<nav class="navbar navbar-expand-lg bg-white shadow-sm">
<div class="container">
 <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" height="40">
    </a>
<ul class="navbar-nav ms-auto">
<li class="nav-item"><a class="nav-link" data-link="index" data-i18n="nav.home"></a></li>
<li class="nav-item"><a class="nav-link" data-link="about" data-i18n="nav.about"></a></li>
<li class="nav-item"><a class="nav-link" data-link="products" data-i18n="nav.products"></a></li>
<li class="nav-item"><a class="nav-link" data-link="services" data-i18n="nav.services"></a></li>
<li class="nav-item"><a class="nav-link" data-link="blog" data-i18n="nav.blog"></a></li>
<li class="nav-item"><a class="nav-link" data-link="contact" data-i18n="nav.contact"></a></li>
</ul>
<div class="dropdown">
  <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
    🌐
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item lang-btn" data-lang="en">English</a></li>
    <li><a class="dropdown-item lang-btn" data-lang="ar">العربية</a></li>
  </ul>
</div>
